.idea/
/node_modules/
/app/modules/tagGenerator/gptTag.txt
/app/modules/tagGenerator/passbackTag.txt
/test.js
/gulptest.js
/app/dist/
!app/modules/PrebidBuilder/dist/set.json
app/modules/PrebidBuilder/dist/creative.txt
app/modules/PrebidBuilder/dist/test.html
/data.json
/err.json
/app/server/http/controllers/sanitizer/test.js
/app/modules/PrebidBuilder/modules/fn.old

/libs/

/env/

/app/logs/

/app/modules/PrebidBuilder/modules/creative.html
/app/modules/PrebidBuilder/modules/test_creative_gen.js
/app/modules/PrebidBuilder/modules/tag.txt
/app/modules/PrebidBuilder/modules/tag1.txt
/ts.js
/app/server/http/controllers/modules/test.js
/app/modules/DFP_API/DFP_HB_SetUp/handlers/err.json
/app/modules/DFP_API/services/Auth/user-data.json
/app/modules/DFP_API/services/Auth/network.json
/app/modules/DFP_API/services/Auth/token.json
/app/modules/PrebidBuilder/dist/pb-creative.txt
/app/server/http/controllers/modules/prebidTest.js
!/app/modules/PrebidBuilder/core/config.json
/app/modules/DFP_API/DFP_HB_SetUp/modules/data/connect.json
/app/modules/DFP_API/DFP_HB_SetUp/modules/data/
!/app/modules/DFP_API/DFP_HB_SetUp/modules/data/sizes.json
/app/modules/AdsTxtGetter/data/results.json
